.block--deposit-container {
  .steps {
    border: 1px solid $color-grey;
    padding: 0;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    line-height: 48px;
    color: $color-grey;
  }

  .row {
    border: 0 !important;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .block--deposit-container {
    .qrcode-wrapper img {
      float: right;
    }
  }
}
