<section class="header">
  <header class="block--header-region">
    <nav class="navbar navbar-expand-lg navbar-light bg-color-whitesmoke fixed-top navbar-shrink">
      <div class="container">
        <a class="navbar-brand text-uppercase font-weight-bold" href="#"> Ircex</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link text-uppercase" href="#">
                <span><img src="./img/trade.svg" alt=""></span>
                trade</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link text-uppercase" href="#">
                <span><img src="./img/funds.svg" alt=""></span>
                funds</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-uppercase" href="#">
                <span><img src="./img/history.svg" alt=""></span>
                history</a>
            </li>
          </ul>
          <ul class="header-nav-user-profile navbar-nav my-2 my-md-0">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle btn btn-outline-secondary pt-1 pb-1 pr-2 pl-2 text-color-green-light" href="#"
                 id="navbarDropdown" role="button" data-toggle="dropdown"
                 aria-haspopup="true" aria-expanded="false">
                <span class="text-color-bastille">Name@gmail.com</span>
              </a>
              <div class="dropdown-menu pt-0 pb-0" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">
                  <span class="pr-1"><img src="./img/profile.svg" alt=""></span>
                  profile</a>
                <div class="dropdown-divider mt-0 mb-0"></div>
                <a class="dropdown-item" href="#">
                  <span class="pr-1"><img src="./img/tickets.svg" alt=""></span>
                  tickets
                </a>
                <div class="dropdown-divider mt-0 mb-0"></div>
                <a class="dropdown-item" href="#">
                  <span class="pr-1"><img src="./img/exit.svg" alt=""></span>
                  exit</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
</section>
