$color-white: #ffffff;
$color-black: #000000;
$color-grey: #999;
$color-grey-light: #cccccc;
$color-border-grey: $color-grey-light;
$color-border-grey-light:#ced4da;
$color-green-light: #8eca3d;
$color-olivedrab: #5f8b3f;
$color-whitesmoke: #ececec;
$color-lightslategray: #9197a0;
